/* Font Family */
body, p, a, span {
    font-family: 'Roboto', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Rubik', sans-serif;
}
.header_section {
    background: #fff;
    position: sticky;
    top: 0;
    z-index: 9;
}
.header_section .container-fluid {
   max-width: 1480px;
}
body .btn-primary {
    background: #e83b3e !important;
    font-size: 17px;
    padding: 10px 38px;
    border: #e83b3e;
    position: relative;
    z-index: 1;
}
body .btn-primary::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border: #111;
    border-radius: 5px;
    background: #111;
    color: #fff;
    z-index: -1;
    transition: .5s;
}
body .btn-primary:hover::after {
    width: 100%;
}

.primary_menu {
    margin: 0;
    padding: 0;
}
.primary_menu li {
    position: relative;
    margin: -2px;
}
.primary_menu li a {
    display: inline-block;
    color: #111;
    text-decoration: none;
    padding: 15px 20px;
    font-size: 17px;
    transition: .4s;
    font-weight: 600;
}
.primary_menu li a:hover{
    color: #e83b3e;
    transition: .4s;
}
.primary_menu li span {
    font-size: 10px;
}
.primary_menu li:hover ul {
    visibility: visible;
    opacity: 1;
    top: 100%;
}
.primary_menu li ul {   
    position: absolute;
    top: 115%;
    left: 0;
    width: 250px;
    list-style: none; 
    background: #fff; 
    padding: 10;
    border-radius: 5px;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
    visibility: hidden;
    transition: .5s;
    opacity: 0;
}
.primary_menu li ul li a{
    display: block;
    padding: 12px 15px;
    transition: .4s;
}
.primary_menu li ul li a:hover {
    transform: scaleX(1.05);
    transform-origin: left;
}
.header_search {
    width: 50px;
    text-align: center;
    margin-right: 20px;
    font-size: 20px;
    border-right: 2px solid #ddd;
}
.header_call_icon {
    font-size: 32px;
    color: #e83b3e;
}
.call_number {
    width: 200px;
}
.call_number span {
    font-size: 15px;
    color: #606060;
}
.call_number a {
    color: #111;
    font-weight: 500;
    text-decoration: none;
}
/* Slider Section */
.slider {
    background-image: url(../img/main-banner2.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.title_content {
    height: 100vh;
    max-width: 650px;
    position: relative;
}
.subtitle1 {
    color: #e83b3e;
    font-size: 18px;
}
.main_title1 {
    font-size: 67px;
}
.subtitle2 {
    color: #606060;
    font-size: 18px;
    line-height: 33px;
}
.social_contact {
    position: absolute;
    bottom: 0;
}
.social_icon {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}
.social_icon li a {
    display: inline-block;
    color: #111;
    padding: 0px 10px;
    transition: .4s;
}
.social_icon li a:hover {
    color: #e83b3e;
}
.social_icon li span {
    font-size: 14px;
    margin-right: 50px;
    position: relative;
}
.social_icon li span::after {
    content: '';
    width: 30px;
    height: 1px;
    background: #111;
    position: absolute;
    right: -45px;
    top: 51%;
}
